*{
    margin: 0;
    padding: 0;
}

.containerHeader {
    display: flex;
    justify-content: flex-start;
    background-color: mediumvioletred;
}

main {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
}

.bolo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer {
    display: flex;
    margin-top: 33.2%;
    text-align: center;
    justify-content: center;
    background-color: mediumvioletred;
}




