*{
    margin: 0;
    padding: 0;
}

.containerHeader {
    display: flex;
    justify-content: flex-start;
    background-color: mediumvioletred;
}

#iconeBolinho {
    width: 20px;
    height: 20px;
    margin: 5px;
}

#titulo {
    margin: 0 auto;
}

#buttonId {
    padding: 5px;
    margin-left: 85%;
    
}
/*
main {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
}
*/
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: end;
    row-gap: 70px;
    column-gap: 10px;
}

.imgBoloBonito {
    width: 150px;
}

footer {
    display: flex;
    margin-top: 33.2%;
    text-align: center;
    justify-content: center;
    background-color: mediumvioletred;
}

.iconDocinho {
    width: 20px;
     
}

.menu {
    margin: 5px;
}

.iconMenu {
    width: 20px;
    margin: 5px;
}

.iconSeta {
    width: 20px;
    margin: 5px;
}

.containerIconMenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    
    
}

.containerMenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    
}

.containerSetaMenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
    width: 15%;
    height: 100%;
    justify-content: space-between;
}



